body {
    /* background-color: darkgray; */
    /* cursor: none; */
}

@media only screen and (min-width: 320px) {
    div.Form {
        align-self: center;
        position: fixed;
        top: 75px;
        left: 50px;
        width: 300px;
        height: 380px;
        background-color: white;
    }
    .formHeader {
        margin-bottom: 50px;
        font-size: 15px;
        float: left;
        width: 280px;
        height: 45px;
        border: 1px;
        padding: 11px;
        text-align: left;
        bottom: 250px;
        background-color: lightgray;
    }
    .beforeDashboardTitle {
        float: right;
    }
    div .emailTextFieldLoginPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    div .passwordTextFieldLoginPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    div .emailTextFieldForgotPasswordPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    div .nameTextFieldRegisterPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    div .emailTextFieldRegisterPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    div .passwordTextFieldSetPasswordPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    div .confirmPasswordTextFieldSetPasswordPage {
        margin-left: 40px;
        width: 210px;
        margin-bottom: 5px;
    }
    .forgotPasswordLinkLocationLoginPage {
        margin-left: 150px;
    }
    .CenterTextStyle {
        font-size: 12px;
        margin-left: 60px;
    }
    .links {
        text-decoration: none;
        color: blue;
        font-size: 12px;
    }
    div .LoginSubmitButtons {
        margin-left: 60px;
        width: 170px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    div .submitButtonForgotPasswordPage {
        margin-left: 60px;
        width: 170px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    div .registerButtonRegisterPage {
        margin-left: 60px;
        width: 170px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    div .setPasswordButtonSetPasswordPage {
        margin-left: 60px;
        width: 170px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    /* ----------------------------------------------------Dashboard CSS ------------------------------------- */
    div .appBar {
        display: flex;
        justify-content: space-between;
        padding: 1px;
        background-color: white;
    }
    .topBarSearchDiv {
        width: 0px;
        border: 1px solid rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0.04);
        /* margin-right: 10px; */
        display: flex;
        justify-content: space-between;
    }
    .cssClassNotesOnView {
        margin-right: 20px;
        margin-left: 20px;
    }
    /* ----------------------------------------------------Top Right User Section CSS------------------------------------- */
    #popupTopBar {
        margin-top: 11px;
        width: 290px;
        height: 91px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #userDetailsAppBarPopper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 11px;
    }
    div .logoutButton {
        margin-top: 11px;
        margin-left: 135px;
        padding: 0%;
    }
    .userIconPopperTopBar {
        width: 50px;
        height: 50px;
        margin: 8px;
        float: left;
        background-color: cadetblue;
    }
    /* ----------------------------------------------------SideBar CSS ------------------------------------- */
    div .sideBarMenuItems {
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .sideBarImages {
        float: left;
        padding: 1%;
        margin-right: 20px;
    }
    .sideBarTextBottom {
        margin-top: 2%;
        align-self: center;
        margin-right: 8%;
        font-size: 65%;
    }
    /* ----------------------------------------------------Add Note CSS ------------------------------------- */
    .completeNoteTakeCard {
        width: 350px;
        min-height: 130px;
    }
    .noteTakeCard {
        transition: .50s;
        margin-left: 30px;
        margin-top: 130px;
        max-width: 370px;
        height: auto;
        box-shadow: 1px 1px 10px;
    }
    .noteTakeCardAfterDrawerOpen {
        transition: .50s;
        margin-left: 170px;
        margin-top: 130px;
        max-width: 370px;
        height: auto;
    }
    .inputNoteTake {
        margin: 10px;
        width: 350px;
    }
    .inputNoteTake div {
        font-size: 12px;
    }
    .CollaboratorHeading {
        font-size: 16px;
        margin: 10px;
        padding: 5px;
        height: 20px;
        border-bottom: 1px solid black;
    }
    div .closeNoteCollaboratorAddCardButton {
        margin-left: 290px;
    }
    /* ----------------------------------------------------Notes Feature Dvi CSS ------------------------------------- */
    .noteAddFeatureImagesDiv {
        width: 170px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .reminderPopper {
        position: fixed;
        z-index: 1;
    }
    div .reminderLabel {
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        padding: 5px;
    }
    .reminderClock {
        line-height: 5px;
        vertical-align: middle;
        margin: 1px;
    }
    .datePickerDiv {
        width: 140px;
        margin-top: 10px;
        margin-left: 40px;
    }
    .pinNoteImage {
        vertical-align: middle;
        margin-top: 2px;
    }
    .colorSelectionPopperNoteAddCard {
        width: 115px;
        margin: 5px;
        height: 85px;
    }
    div .colorPalette {
        margin: 1px;
        width: 2px;
        height: 2px;
        border: 1px solid darkgrey;
    }
    div .colorPalette:hover {
        border: 1px solid black;
    }
    /* ----------------------------------------------------Notes Display Div CSS ------------------------------------- */
    .NotesDisplayDivSidebarClose {
        max-width: 450px;
        margin-left: 20px;
        margin-top: 30px;
        display: flex;
        transition: 0.50s;
    }
    .NotesDisplayDivSidebarOpen {
        max-width: 450px;
        transition: 0.50s;
        margin-left: 215px;
        margin-top: 30px;
        display: flex;
    }
    .notesGridDisplayDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .notesListDisplayDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    div .notesGridDisplayCard {
        display: flex;
        flex-wrap: nowrap;
        min-width: 370px;
        max-width: 370px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 20px;
        margin-left: 10px;
        border-radius: 9px;
    }
    /* class to point each component individually
.notenoteAddFeatureImages {}  */
    .notesGridDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesGridDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesGridDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    div .notesListDisplayCard {
        display: flex;
        flex-wrap: nowrap;
        min-width: 370px;
        max-width: 370px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 20px;
        margin-left: 10px;
        border-radius: 9px;
    }
    .textShowingPinnedAndOthersGRID {
        margin-left: 10px;
    }
    .textShowingPinnedAndOthersLIST {
        margin-left: 10px;
    }
    .notesListDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesListDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesListDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    /* ----------------------------------------------------Notes Display Card CSS ------------------------------------- */
    .noteCardDisplayTitleDiv {
        display: flex;
        font-size: 15px;
        margin-left: 5px;
        padding: 3px;
    }
    .noteCardDisplayTitle {
        width: 100%;
    }
    .noteCardDisplayDescription {
        font-size: 15px;
        padding: 3px;
        margin-left: 5px;
        min-width: 350px;
    }
    div .dialogPadding {
        padding: 10px;
    }
    .reminderShowOnCardText {
        font-size: 8px;
        padding: 0px;
    }
    div .chipOnCardReminder {
        margin-left: 2px;
        margin-top: 10px;
        height: 20px;
    }
}

@media only screen and (min-width: 600px) {
    div.Form {
        align-self: center;
        position: fixed;
        top: 100px;
        left: 150px;
        width: 400px;
        height: 410px;
        background-color: white;
    }
    .formHeader {
        margin-bottom: 50px;
        font-size: 21px;
        float: left;
        width: 380px;
        height: 45px;
        border: 1px;
        padding: 11px;
        text-align: left;
        bottom: 250px;
        background-color: lightgray;
    }
    .beforeDashboardTitle {
        float: right;
    }
    div .emailTextFieldLoginPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    div .passwordTextFieldLoginPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    div .emailTextFieldForgotPasswordPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    div .nameTextFieldRegisterPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    div .emailTextFieldRegisterPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    div .passwordTextFieldSetPasswordPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    div .confirmPasswordTextFieldSetPasswordPage {
        margin-left: 50px;
        width: 280px;
        margin-bottom: 10px;
    }
    .forgotPasswordLinkLocationLoginPage {
        margin-left: 230px;
    }
    .CenterTextStyle {
        font-size: 12px;
        margin-left: 100px;
    }
    .links {
        text-decoration: none;
        color: blue;
        font-size: 12px;
    }
    div .LoginSubmitButtons {
        margin-left: 85px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    div .submitButtonForgotPasswordPage {
        margin-left: 85px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    div .registerButtonRegisterPage {
        margin-left: 85px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    div .setPasswordButtonSetPasswordPage {
        margin-left: 85px;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    /* ----------------------------------------------------Dashboard CSS ------------------------------------- */
    div .appBar {
        display: flex;
        justify-content: space-between;
        padding: 1px;
        background-color: white;
    }
    .topBarSearchDiv {
        width: 250px;
        border: 1px solid rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0.04);
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
    }
    .topBarSearchBar {
        width: 520px;
    }
    .cssClassNotesOnView {
        margin-right: 90px;
        margin-left: 20px;
    }
    /* ----------------------------------------------------Top Right User Section CSS------------------------------------- */
    #popupTopBar {
        margin-top: 11px;
        width: 290px;
        height: 91px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #userDetailsAppBarPopper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 11px;
    }
    div .logoutButton {
        margin-top: 11px;
        margin-left: 135px;
        padding: 0%;
    }
    .userIconPopperTopBar {
        width: 50px;
        height: 50px;
        margin: 8px;
        float: left;
        background: cadetblue;
    }
    /* ----------------------------------------------------SideBar CSS ------------------------------------- */
    div .sideBarMenuItems {
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .sideBarImages {
        float: left;
        padding: 1%;
        margin-right: 20px;
    }
    .sideBarTextBottom {
        margin-top: 2%;
        align-self: center;
        margin-right: 8%;
        font-size: 65%;
    }
    /* ----------------------------------------------------Add Note CSS ------------------------------------- */
    .completeNoteTakeCard {
        width: 350px;
        min-height: 130px;
    }
    .noteTakeCard {
        transition: .50s;
        margin-left: 150px;
        margin-top: 130px;
        max-width: 370px;
        height: auto;
        box-shadow: 1px 1px 10px;
    }
    .noteTakeCardAfterDrawerOpen {
        transition: .50s;
        margin-left: 250px;
        margin-top: 130px;
        max-width: 370px;
        height: auto;
    }
    .inputNoteTake {
        margin: 10px;
        width: 350px;
    }
    .inputNoteTake div {
        font-size: 12px;
    }
    .CollaboratorHeading {
        font-size: 16px;
        margin: 10px;
        padding: 5px;
        height: 20px;
        border-bottom: 1px solid black;
    }
    div .closeNoteCollaboratorAddCardButton {
        margin-left: 290px;
    }
    /* ----------------------------------------------------Notes Feature Dvi CSS ------------------------------------- */
    .noteAddFeatureImagesDiv {
        width: 170px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .reminderPopper {
        position: fixed;
        z-index: 1;
    }
    div .reminderLabel {
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        padding: 5px;
    }
    .reminderClock {
        line-height: 5px;
        vertical-align: middle;
        margin: 1px;
    }
    .datePickerDiv {
        width: 140px;
        margin-top: 10px;
        margin-left: 40px;
    }
    .pinNoteImage {
        vertical-align: middle;
        margin-top: 2px;
    }
    .colorSelectionPopperNoteAddCard {
        width: 130px;
        margin: 5px;
        height: 100px;
    }
    div .colorPalette {
        margin: 3px;
        width: 10px;
        height: 10px;
        border: 1px solid darkgrey;
    }
    div .colorPalette:hover {
        border: 1px solid black;
    }
    /* ----------------------------------------------------Notes Display Div CSS ------------------------------------- */
    .NotesDisplayDivSidebarClose {
        max-width: 450px;
        margin-left: 100px;
        margin-top: 30px;
        display: flex;
        transition: 0.50s;
    }
    .NotesDisplayDivSidebarOpen {
        max-width: 450px;
        transition: 0.50s;
        margin-left: 215px;
        margin-top: 30px;
        display: flex;
    }
    .notesGridDisplayDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .notesListDisplayDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    div .notesGridDisplayCard {
        display: flex;
        flex-wrap: wrap;
        min-width: 200px;
        max-width: 200px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 10px;
        border-radius: 9px;
    }
    /* class to point each component individually
.notenoteAddFeatureImages {}  */
    .notesGridDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesGridDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesGridDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    div .notesListDisplayCard {
        display: flex;
        flex-wrap: nowrap;
        min-width: 450px;
        max-width: 450px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 20px;
        margin-left: 20px;
        border-radius: 9px;
    }
    .textShowingPinnedAndOthersGRID {
        margin-left: 10px;
    }
    .textShowingPinnedAndOthersLIST {
        margin-left: 20px;
    }
    .notesListDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesListDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesListDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    /* ----------------------------------------------------Notes Display Card CSS ------------------------------------- */
    .noteCardDisplayTitleDiv {
        display: flex;
        font-size: 15px;
        margin-left: 5px;
        padding: 3px;
    }
    .noteCardDisplayTitle {
        width: 100%;
    }
    .noteCardDisplayDescription {
        font-size: 15px;
        padding: 3px;
        margin-left: 5px;
        min-width: 350px;
    }
    div .dialogPadding {
        padding: 10px;
    }
    .reminderShowOnCardText {
        font-size: 8px;
        padding: 0px;
    }
    div .chipOnCardReminder {
        margin-left: 2px;
        margin-top: 10px;
        height: 20px;
    }
}

@media only screen and (min-width: 960px) {
    div.Form {
        align-self: center;
        position: fixed;
        top: 180px;
        left: 280px;
        width: 500px;
        height: 450px;
        background-color: white;
    }
    .formHeader {
        margin-bottom: 50px;
        font-size: 27px;
        float: left;
        width: 480px;
        height: 55px;
        border: 1px;
        padding: 11px;
        text-align: left;
        bottom: 250px;
        background-color: lightgray;
    }
    .beforeDashboardTitle {
        float: right;
    }
    div .emailTextFieldLoginPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .emailTextFieldLoginPage div {
        font-size: 21px;
    }
    div .passwordTextFieldLoginPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .passwordTextFieldLoginPage div {
        font-size: 21px;
    }
    div .emailTextFieldForgotPasswordPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .emailTextFieldForgotPasswordPage div {
        font-size: 21px;
    }
    div .nameTextFieldRegisterPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .nameTextFieldRegisterPage div {
        font-size: 21px;
    }
    div .emailTextFieldRegisterPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .emailTextFieldRegisterPage div {
        font-size: 21px;
    }
    div .passwordTextFieldSetPasswordPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .passwordTextFieldSetPasswordPage div {
        font-size: 21px;
    }
    div .confirmPasswordTextFieldSetPasswordPage {
        margin-left: 60px;
        width: 380px;
        margin-bottom: 10px;
    }
    div .confirmPasswordTextFieldSetPasswordPage div {
        font-size: 21px;
    }
    .forgotPasswordLinkLocationLoginPage {
        margin-left: 330px;
    }
    .CenterTextStyle {
        font-size: 13px;
        margin-left: 150px;
    }
    .links {
        text-decoration: none;
        color: blue;
        font-size: 14px;
    }
    div .LoginSubmitButtons {
        margin-left: 90px;
        width: 300px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    div .submitButtonForgotPasswordPage {
        margin-left: 90px;
        width: 300px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    div .registerButtonRegisterPage {
        margin-left: 90px;
        width: 300px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    div .setPasswordButtonSetPasswordPage {
        margin-left: 90px;
        width: 300px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    /* ----------------------------------------------------Dashboard CSS ------------------------------------- */
    div .appBar {
        display: flex;
        justify-content: space-between;
        padding: 1px;
        background-color: white;
    }
    .topBarSearchDiv {
        width: 550px;
        border: 1px solid rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0.04);
        margin-right: 20px;
        margin-left: 50px;
        display: flex;
    }
    .topBarSearchBar {
        width: 520px;
    }
    .cssClassNotesOnView {
        margin-right: 150px;
        vertical-align: middle;
        line-height: 25px;
        margin-top: 2px;
        margin-left: 20px;
        opacity: 10px;
    }
    /* ----------------------------------------------------Top Right User Section CSS------------------------------------- */
    #popupTopBar {
        margin-top: 11px;
        width: 290px;
        height: 91px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #userDetailsAppBarPopper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 11px;
    }
    div .logoutButton {
        margin-top: 11px;
        margin-left: 135px;
        padding: 0%;
    }
    .userIconPopperTopBar {
        width: 50px;
        height: 50px;
        margin: 8px;
        float: left;
        background: cadetblue;
    }
    
    /* ----------------------------------------------------SideBar CSS ------------------------------------- */
    div .sideBarMenuItems {
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .sideBarImages {
        float: left;
        padding: 1%;
        margin-right: 20px;
    }
    .sideBarTextBottom {
        margin-top: 2%;
        align-self: center;
        margin-right: 8%;
        font-size: 65%;
    }
    /* ----------------------------------------------------Add Note CSS ------------------------------------- */
    .completeNoteTakeCard {
        width: 450px;
        min-height: 130px;
    }
    .noteTakeCard {
        transition: .50s;
        margin-left: 400px;
        margin-top: 130px;
        max-width: 450px;
        height: auto;
    }
    .noteTakeCardAfterDrawerOpen {
        transition: .50s;
        margin-left: 450px;
        margin-top: 130px;
        max-width: 450px;
        height: auto;
    }
    .inputNoteTake {
        margin: 10px;
        width: 420px;
    }
    .inputNoteTake div {
        font-size: 15px;
    }
    .CollaboratorHeading {
        font-size: 20px;
        margin: 10px;
        padding: 5px;
        height: 20px;
        border-bottom: 1px solid black;
    }
    div .closeNoteCollaboratorAddCardButton {
        margin-left: 370px;
    }
    /* ----------------------------------------------------Notes Feature Dvi CSS ------------------------------------- */
    .noteAddFeatureImagesDiv {
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .reminderPopper {
        position: fixed;
        z-index: 1;
    }
    div .reminderLabel {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .reminderClock {
        line-height: 5px;
        vertical-align: middle;
        margin: 1px;
    }
    .datePickerDiv {
        width: 140px;
        margin-top: 10px;
        margin-left: 40px;
    }
    .pinNoteImage {
        vertical-align: middle;
        margin-top: -2px;
    }
    .colorSelectionPopperNoteAddCard {
        width: 130px;
        margin: 5px;
        height: 100px;
    }
    div .colorPalette {
        margin: 3px;
        width: 10px;
        height: 10px;
        border: 1px solid darkgrey;
    }
    div .colorPalette:hover {
        border: 1px solid black;
    }
    /* ----------------------------------------------------Notes Display Div CSS ------------------------------------- */
    .NotesDisplayDivSidebarClose {
        max-width: 850px;
        margin-left: 190px;
        margin-top: 30px;
        display: flex;
        transition: 0.50s;
    }
    .NotesDisplayDivSidebarOpen {
        max-width: 850px;
        transition: 0.50s;
        margin-left: 280px;
        margin-top: 30px;
        display: flex;
    }
    .notesGridDisplayDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .notesListDisplayDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    div .notesGridDisplayCard {
        display: flex;
        flex-wrap: wrap;
        min-width: 240px;
        max-width: 240px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 10px;
        border-radius: 9px;
    }
    /* class to point each component individually
.notenoteAddFeatureImages {}  */
    .notesGridDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesGridDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesGridDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    div .notesListDisplayCard {
        display: flex;
        flex-wrap: nowrap;
        min-width: 500px;
        max-width: 500px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 20px;
        margin-left: 120px;
        border-radius: 9px;
    }
    .textShowingPinnedAndOthersGRID {
        margin-left: 10px;
    }
    .textShowingPinnedAndOthersLIST {
        margin-left: 120px;
    }
    .notesListDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesListDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesListDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    /* ----------------------------------------------------Notes Display Card CSS ------------------------------------- */
    .noteCardDisplayTitleDiv {
        display: flex;
        font-size: 18px;
        margin-left: 5px;
        padding: 3px;
    }
    .noteCardDisplayTitle {
        width: 100%;
    }
    .noteCardDisplayDescription {
        font-size: 18px;
        padding: 3px;
        margin-left: 5px;
        min-width: 350px;
    }
    div .dialogPadding {
        padding: 10px;
    }
    #dialogPaddingCollab {
        padding: 0px;
    }
    .reminderShowOnCardText {
        font-size: 10px;
        padding: 0px;
    }
    div .chipOnCardReminder {
        margin-left: 5px;
        margin-top: 15px;
        height: 25px;
    }
}

@media only screen and (min-width: 1280px) {
    div.Form {
        align-self: center;
        position: fixed;
        top: 120px;
        left: 340px;
        width: 500px;
        height: 380px;
        background-color: white;
    }
    .formHeader {
        margin-bottom: 30px;
        font-size: 18px;
        float: left;
        width: 470px;
        height: 20px;
        border: 1px;
        padding: 15px;
        text-align: left;
        bottom: 250px;
        background-color: lightgray;
    }
    .beforeDashboardTitle {
        float: right;
    }
    div .emailTextFieldLoginPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    div .emailTextFieldLoginPage div {
        font-size: 21px;
    }
    div .passwordTextFieldLoginPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
    }
    div .passwordTextFieldLoginPage div {
        font-size: 21px;
    }
    div .emailTextFieldForgotPasswordPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
    }
    div .emailTextFieldForgotPasswordPage div {
        font-size: 21px;
    }
    div .nameTextFieldRegisterPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
    }
    div .nameTextFieldRegisterPage div {
        font-size: 21px;
    }
    div .emailTextFieldRegisterPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
    }
    div .emailTextFieldRegisterPage div {
        font-size: 21px;
    }
    div .passwordTextFieldSetPasswordPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
    }
    div .passwordTextFieldSetPasswordPage div {
        font-size: 21px;
    }
    div .confirmPasswordTextFieldSetPasswordPage {
        margin-left: 60px;
        width: 350px;
        margin-bottom: 10px;
    }
    div .confirmPasswordTextFieldSetPasswordPage div {
        font-size: 21px;
    }
    .forgotPasswordLinkLocationLoginPage {
        margin-left: 280px;
    }
    .CenterTextStyle {
        font-size: 11px;
        margin-left: 150px;
    }
    .links {
        text-decoration: none;
        color: blue;
        font-size: 15px;
    }
    div .LoginSubmitButtons {
        margin-left: 110px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 40px;
        font-size: 21px;
    }
    div .submitButtonForgotPasswordPage {
        margin-left: 110px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 40px;
        font-size: 21px;
    }
    div .registerButtonRegisterPage {
        margin-left: 110px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 40px;
        font-size: 21px;
    }
    div .setPasswordButtonSetPasswordPage {
        margin-left: 110px;
        width: 250px;
        margin-top: 30px;
        margin-bottom: 20px;
        height: 40px;
        font-size: 21px;
    }
    /* ----------------------------------------------------Dashboard CSS ------------------------------------- */
    div .appBar {
        display: flex;
        justify-content: space-between;
        padding: 1px;
        background-color: white;
    }
    .topBarSearchDiv {
        width: 700px;
        border: 1px solid rgba(0, 0, 0, 0);
        background: rgba(0, 0, 0, 0.04);
        margin-right: 20px;
        display: flex;
    }
    .topBarSearchBar {
        width: 670px;
    }
    .cssClassNotesOnView {
        margin-right: 200px;
        vertical-align: middle;
        line-height: 25px;
        margin-top: 2px;
        margin-left: 20px;
        opacity: 10px;
    }
    /* ----------------------------------------------------Top Right User Section CSS------------------------------------- */
    #popupTopBar {
        margin-top: 11px;
        width: 330px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #userDetailsAppBarPopper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 30px;
    }
    div .logoutButton {
        margin-top: 25px;
        margin-left: 135px;
        padding: 0%;
    }
    .userIconPopperTopBar {
        width: 80px;
        height: 80px;
        margin: 12px;
        float: left;
        background: cadetblue;
    }
    /* ----------------------------------------------------SideBar CSS ------------------------------------- */
    div .sideBarMenuItems {
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    .sideBarImages {
        float: left;
        padding: 1%;
        margin-right: 20px;
    }
    .sideBarTextBottom {
        margin-top: 2%;
        align-self: center;
        margin-right: 8%;
        font-size: 65%;
    }
    /* ----------------------------------------------------Add Note CSS ------------------------------------- */
    .noteTakeCard {
        transition: .50s;
        margin-left: 470px;
        margin-top: 130px;
        max-width: 500px;
        height: auto;
    }
    .noteTakeCardAfterDrawerOpen {
        transition: .50s;
        margin-left: 540px;
        margin-top: 130px;
        max-width: 500px;
        height: auto;
    }
    .inputNoteTake {
        margin: 10px;
        width: 450px;
    }
    .inputNoteTake div {
        font-size: 18px;
    }
    .completeNoteTakeCard {
        width: 500px;
        min-height: 130px;
    }
    .CollaboratorHeading {
        font-size: 20px;
        margin: 10px;
        padding: 5px;
        height: 20px;
        border-bottom: 1px solid black;
    }
    div .closeNoteCollaboratorAddCardButton {
        margin-left: 420px;
    }
    /* ----------------------------------------------------Notes Feature Dvi CSS ------------------------------------- */
    .noteAddFeatureImagesDiv {
        width: 280px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .reminderPopper {
        position: fixed;
        z-index: 1;
    }
    div .reminderLabel {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
    .reminderClock {
        line-height: 10px;
        vertical-align: middle;
        margin: 5px;
    }
    .datePickerDiv {
        width: 155px;
        margin-top: 10px;
        margin-left: 28px;
    }
    .pinNoteImage {
        vertical-align: middle;
        line-height: 10px;
        margin-top: 10px;
    }
    .colorSelectionPopperNoteAddCard {
        width: 145px;
        margin: 5px;
        height: 110px;
    }
    div .colorPalette {
        margin: 5px;
        width: 20px;
        height: 20px;
        border: 1px solid darkgrey;
    }
    div .colorPalette:hover {
        border: 1px solid black;
    }
    /* ----------------------------------------------------Notes Display Div CSS ------------------------------------- */
    .NotesDisplayDivSidebarClose {
        max-width: 970px;
        margin-left: 260px;
        margin-top: 40px;
        display: flex;
        transition: 0.50s;
    }
    .NotesDisplayDivSidebarOpen {
        max-width: 970px;
        transition: 0.50s;
        margin-left: 310px;
        margin-top: 40px;
        display: flex;
    }
    .notesGridDisplayDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .notesListDisplayDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    div .notesGridDisplayCard {
        display: flex;
        flex-wrap: wrap;
        min-width: 300px;
        max-width: 300px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 120px;
        margin: 10px;
        border-radius: 9px;
    }
    /* class to point each component individually
    .notenoteAddFeatureImages {}  */
    .notesGridDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesGridDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesGridDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    div .notesListDisplayCard {
        display: flex;
        flex-wrap: nowrap;
        min-width: 500px;
        max-width: 500px;
        word-wrap: break-word;
        word-break: break-all;
        min-height: 100px;
        margin: 10px;
        border-radius: 9px;
    }
    .notesListDisplayCard .noteAddFeatureImages {
        visibility: hidden;
    }
    .notesListDisplayCard:hover .noteAddFeatureImages {
        visibility: visible;
    }
    .notesListDisplayCard:hover {
        box-shadow: 1px 1px 10px;
    }
    /* ----------------------------------------------------Notes Display Card CSS ------------------------------------- */
    .noteCardDisplayTitleDiv {
        display: flex;
        font-size: 21px;
        margin-left: 5px;
        padding: 3px;
    }
    .noteCardDisplayTitle {
        width: 100%;
    }
    .noteCardDisplayDescription {
        font-size: 21px;
        padding: 7px;
        min-width: 400px;
    }
    div .dialogPadding {
        padding: 10px;
    }
    .reminderShowOnCardText {
        font-size: 10px;
        padding: 0px;
    }
    div .chipOnCardReminder {
        margin-left: 5px;
        margin-top: 15px;
        height: 25px;
    }
}

#dialogNoteEdit {
    padding: 0px;
    overflow-y: visible;
}