body{
  background-color: darkgray;
}

.formHeader {
  margin-bottom: 30px;
  font-size: 30px;
  float: left;
  width : 305px;
  height : 40px;
  border: 1px;
  padding: 10px;
  text-align: left;
  background-color: lightgray;
}

.loginTextFields {
  width : 280px;
  display: block;
}

.textStyle {
  font-size: 11px;
}

.inputTextBoxes {
  /* top : 20px; */
  margin-top: 80px;
}

div.Form {
  align-self: center;
  position:fixed;
  top: 20%;
  left: 32%;
  width:20em;
  height:25em;
  background-color: white;
}

#forgotPasswordLinks {
  margin-left: 200px;
  text-decoration: none;
  color: blue;
  font-size: 12px;
}

#loginButton {
  margin-top: 60px;
  width: 80%;
  /* margin-bottom: 20px; */
}

.registerLink {
  top: 30%;
  text-decoration: none;
  color: blue;
  font-size: 14px;
  margin-top: 20px;
}

.topBar {
  padding: 2px;
  width: 5px;
}

.Links {
  text-decoration: none;
  color: blue;
  font-size: 14px;
}

.topSearchBar {
  margin-left: 80px;
}

.topUserIcon {
  margin-left: 250px;
}

/* ---------------------------------------------------------------------- */
.App {
  text-align: center;
  background: lightblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
