
body{
  /* background-color: darkgray; */
  /* cursor: none; */
}

@media only screen and (min-width: 320px) {
  
  div.Form {
    align-self: center;
    position: fixed;
    top: 75px;
    left : 50px;
    width: 300px;
    height: 380px;
    background-color: white;
  }

  .formHeader {
    margin-bottom: 50px;
    font-size: 15px;
    float: left;
    width : 280px;
    height : 45px;
    border: 1px;
    padding: 11px;
    text-align: left;
    bottom: 250px;
    background-color: lightgray;
  }
  
  .beforeDashboardTitle {
    float: right;
  }

  div .emailTextFieldLoginPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  div .passwordTextFieldLoginPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  div .emailTextFieldForgotPasswordPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  div .nameTextFieldRegisterPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  div .emailTextFieldRegisterPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  div .passwordTextFieldSetPasswordPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  div .confirmPasswordTextFieldSetPasswordPage {
    margin-left: 40px;
    width : 210px;
    margin-bottom: 5px;
  }

  .forgotPasswordLinkLocationLoginPage {
    margin-left: 150px;
  }

  .CenterTextStyle {
    font-size: 12px;
    margin-left: 60px;
  }

  .links {
    text-decoration: none;
    color: blue;
    font-size: 12px;
  }

  div .LoginSubmitButtons {
    margin-left: 60px;
    width : 170px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }

  div .submitButtonForgotPasswordPage {
    margin-left: 60px;
    width : 170px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }

  div .registerButtonRegisterPage {
    margin-left: 60px;
    width : 170px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }

  div .setPasswordButtonSetPasswordPage {
    margin-left: 60px;
    width : 170px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }
}


@media only screen and (min-width : 600px) {

  div.Form {
    align-self: center;
    position: fixed;
    top: 100px;
    left : 150px;
    width: 400px;
    height: 410px;
    background-color: white;
  }

  .formHeader {
    margin-bottom: 50px;
    font-size: 21px;
    float: left;
    width : 380px;
    height : 45px;
    border: 1px;
    padding: 11px;
    text-align: left;
    bottom: 250px;
    background-color: lightgray;
  }
  
  .beforeDashboardTitle {
    float: right;
  }

  div .emailTextFieldLoginPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  div .passwordTextFieldLoginPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  div .emailTextFieldForgotPasswordPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  div .nameTextFieldRegisterPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  div .emailTextFieldRegisterPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  div .passwordTextFieldSetPasswordPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  div .confirmPasswordTextFieldSetPasswordPage {
    margin-left: 50px;
    width : 280px;
    margin-bottom: 10px;
  }

  .forgotPasswordLinkLocationLoginPage {
    margin-left: 230px;
  }

  .CenterTextStyle {
    font-size: 12px;
    margin-left: 100px;
  }

  .links {
    text-decoration: none;
    color: blue;
    font-size: 12px;
  }

  div .LoginSubmitButtons {
    margin-left: 85px;
    width : 200px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }

  div .submitButtonForgotPasswordPage {
    margin-left: 85px;
    width : 200px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }

  div .registerButtonRegisterPage {
    margin-left: 85px;
    width : 200px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }

  div .setPasswordButtonSetPasswordPage {
    margin-left: 85px;
    width : 200px;
    margin-top : 30px; 
    margin-bottom: 10px;
  }
}

@media only screen and (min-width : 960px) {

  div.Form {
    align-self: center;
    position: fixed;
    top: 180px;
    left : 280px;
    width: 500px;
    height: 450px;
    background-color: white;
  }

  .formHeader {
    margin-bottom: 50px;
    font-size: 27px;
    float: left;
    width : 480px;
    height : 55px;
    border: 1px;
    padding: 11px;
    text-align: left;
    bottom: 250px;
    background-color: lightgray;
  }
  
  .beforeDashboardTitle {
    float: right;
  }

  div .emailTextFieldLoginPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .emailTextFieldLoginPage div {
    font-size: 21px;
  }

  div .passwordTextFieldLoginPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .passwordTextFieldLoginPage div {
    font-size: 21px;
  }

  div .emailTextFieldForgotPasswordPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .emailTextFieldForgotPasswordPage div {
    font-size: 21px;
  }

  div .nameTextFieldRegisterPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .nameTextFieldRegisterPage div {
    font-size: 21px;
  }

  div .emailTextFieldRegisterPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .emailTextFieldRegisterPage div {
    font-size: 21px;
  }

  div .passwordTextFieldSetPasswordPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .passwordTextFieldSetPasswordPage div {
    font-size: 21px;
  }

  div .confirmPasswordTextFieldSetPasswordPage {
    margin-left: 60px;
    width : 380px;
    margin-bottom: 10px;
  }
  div .confirmPasswordTextFieldSetPasswordPage div {
    font-size: 21px;
  }

  .forgotPasswordLinkLocationLoginPage {
    margin-left: 330px;
  }

  .CenterTextStyle {
    font-size: 13px;
    margin-left: 150px;
  }

  .links {
    text-decoration: none;
    color: blue;
    font-size: 14px;
  }

  div .LoginSubmitButtons {
    margin-left: 90px;
    width : 300px;
    margin-top : 50px; 
    margin-bottom: 10px;
  }

  div .submitButtonForgotPasswordPage {
    margin-left: 90px;
    width : 300px;
    margin-top : 50px; 
    margin-bottom: 10px;
  }

  div .registerButtonRegisterPage {
    margin-left: 90px;
    width : 300px;
    margin-top : 50px; 
    margin-bottom: 10px;
  }

  div .setPasswordButtonSetPasswordPage {
    margin-left: 90px;
    width : 300px;
    margin-top : 50px; 
    margin-bottom: 10px;
  }

.topBarSearchDiv {
  line-height: 20%;
  width: 380px;
  height: 30px;
  padding: 8px;
  margin-left: 70px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #888888;
  margin-right: 30px;
  display: flex;
}

.searchIconTopBar {
  line-height: 24px;
  margin-top: 3px;
}

.topBarSearchBar {
  width: 350px;
}

.refreshButtonOnTop {
  margin-right: 25px;
  vertical-align : middle;
  line-height : 25px;
  width: 28px;
  height: 28px;
}

}



@media only screen and (min-width : 1280px) {

  div.Form {
    align-self: center;
    position: fixed;
    top: 120px;
    left : 340px;
    width: 500px;
    height: 380px;
    background-color: white;
  }

  .formHeader {
    margin-bottom: 30px;
    font-size: 18px;
    float: left;
    width : 470px;
    height : 20px;
    border: 1px;
    padding: 15px;
    text-align: left;
    bottom: 250px;
    background-color: lightgray;
  }
  
  .beforeDashboardTitle {
    float: right;
  }

  div .emailTextFieldLoginPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  div .emailTextFieldLoginPage div {
    font-size: 21px;
  }

  div .passwordTextFieldLoginPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
  }
  div .passwordTextFieldLoginPage div {
    font-size: 21px;
  }

  div .emailTextFieldForgotPasswordPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
  }
  div .emailTextFieldForgotPasswordPage div {
    font-size: 21px;
  }

  div .nameTextFieldRegisterPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
  }
  div .nameTextFieldRegisterPage div {
    font-size: 21px;
  }

  div .emailTextFieldRegisterPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
  }
  div .emailTextFieldRegisterPage div {
    font-size: 21px;
  }

  div .passwordTextFieldSetPasswordPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
  }
  div .passwordTextFieldSetPasswordPage div {
    font-size: 21px;
  }

  div .confirmPasswordTextFieldSetPasswordPage {
    margin-left: 60px;
    width : 350px;
    margin-bottom: 10px;
  }
  div .confirmPasswordTextFieldSetPasswordPage div {
    font-size: 21px;
  }

  .forgotPasswordLinkLocationLoginPage {
    margin-left: 280px;
  }

  .CenterTextStyle {
    font-size: 11px;
    margin-left: 150px;
  }

  .links {
    text-decoration: none;
    color: blue;
    font-size: 15px;
  }

  div .LoginSubmitButtons {
    margin-left: 110px;
    width : 250px;
    margin-top : 30px; 
    margin-bottom: 20px;
    height: 40px;
    font-size : 21px;
  }

  div .submitButtonForgotPasswordPage {
    margin-left: 110px;
    width : 250px;
    margin-top : 30px; 
    margin-bottom : 20px;
    height : 40px;
    font-size : 21px;
  }

  div .registerButtonRegisterPage {
    margin-left: 110px;
    width : 250px;
    margin-top : 30px; 
    margin-bottom : 20px;
    height : 40px;
    font-size : 21px;
  }

  div .setPasswordButtonSetPasswordPage {
    margin-left: 110px;
    width : 250px;
    margin-top : 30px; 
    margin-bottom : 20px;
    height : 40px;
    font-size : 21px;
  }
  
  .topBarSearchDiv {
    line-height: 20%;
    width: 720px;
    height: 30px;
    padding: 4px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #888888;
    margin-right: 20px;
    display: flex;
  }

  .topBarSearchBar::selection {
    background-color: aqua;
  }

  .searchIconTopBar {
    line-height: 24px;
    margin-top: 3px;
    opacity: 0.5;
  }

  .topBarSearchBar {
    width: 350px;
  }

  .refreshButtonOnTop {
    margin-right: 25px;
    vertical-align : middle;
    line-height : 25px;
    width: 28px;
    height: 28px;
  }
}

/* ----------------------------------------------------- */

.topBarNoteImage {
  padding: 2px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

div .sideBarMenuItems {
  border-top-right-radius : 60px;
  border-bottom-right-radius : 60px;
}

.sideBarImages {
  float : left;
  padding : 1%;
  display : flex;
  margin-right : 20px;
}

.sideBarText {
  margin-right: -10%;
  padding: 1%;
  float: left;
  display: flex;
}

.sideBarTextBottom {
  margin-top : 2%;
  align-self: center;
  margin-right: 8%;
  font-size: 65%;
}

/* .topBarSearchDiv {
  line-height: 20%;
  width: 700px;
  height: 30px;
  padding: 8px;
  margin-left: 70px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #888888;
  margin-right: 30px;
  display: flex;
}

.searchIconTopBar {
  line-height: 24px;
  margin-top: 3px;
}

.topBarSearchBar {
  width: 650px;
}

.refreshButtonOnTop {
  margin-right: 25px;
  vertical-align : middle;
  line-height : 25px;
  width: 28px;
  height: 28px;
} */

.cssClassNotesOnView {
  margin-right : 170px;
  vertical-align : middle;
  line-height : 25px;
  margin-top : 2px;
  opacity: 10px;
}

#accountIconTopBar {
  width: 35px;
  height: 35px;
}

#popupTopBar {
  margin-top: 1%;
  margin-right: -10px;
  width: 340px;
  height : 160px;
}

#accountIconPopperTopBar {
  width: 80px;
  height: 80px;
  margin-top: 10%;
  float: left;
}

.userNameTopBarPopper {
  margin-top: 15%;
  float: right;
  margin-right: 7%;
}

.emailIdTopBarPopper {
  float: right;
  margin-right: -12%;
  margin-top: 25%;
}

.logoutButton {
  margin-top: 12%;
  margin-left: 68%;
  padding: 0%;
}

.noteTakeCard {
  transition: .50s;
  margin-left: 470px;
  margin-top: 130px;
  max-width : 500px;
  height: auto;
}

.noteTakeCardAfterDrawerOpen {
  margin-left : 540px;
  margin-top: 130px;
  max-width : 500px;
  height: auto;
  transition: .50s;
}

.inputNoteTake {
  margin: 10px;
  width : 550px;
}

.inputNoteTake div {
  font-size : 18px;
}

.pinNoteImage {
  vertical-align : middle;
  line-height : 10px;
  margin-top : 2px;
}

.completeNoteTakeCard {
  width : 600px;
  min-height: 130px;
}

.noteAddFeatureImages {
  opacity: 0.7;
}

.notenoteAddFeatureImagesDiv {
  min-width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div .reminderLabel {
  display: flex;
  justify-content: space-between;
  font-size : 15px;
}

.reminderLocationLabel {
  margin-left : 20px;
}

.reminderClock {
  line-height : 10px;
  vertical-align : middle;
  margin: 5px;
}

.reminderTimeLabel {
  margin-left : 10px;
}

div .closeNoteAddCardButton {
  margin-left: 140px;
}


.CollaboratorHeading {
  font-size : 30px;
  margin: 12px;
  padding : 7px;
  height : 40px;
  border-bottom: 1px solid black;
}

.colorSelectionPopperNoteAddCard {
  width : 150px;
  margin-left : 110px;
  height : 110px;
  margin-top : 6px;
}

div .colorPalette {
  margin-top : 10px;
  margin-left : 10px;
  width : 20px;
  height : 20px;
  border: 1px solid darkgrey;
}

div .colorPalette:hover {
  border: 1px solid black;
}

.NotesDisplayDivSidebarClose {
  max-width : 970px ;
  margin-left : 260px;
  margin-top : 40px;
  display: flex;
  transition: 0.50s;
}

.NotesDisplayDivSidebarOpen {
  max-width : 970px ;
  transition: 0.50s;
  margin-left : 310px;
  margin-top : 40px;
  display : flex;
}

.notesGridDisplayDiv {
  display : flex;
  flex-direction : row;
  flex-wrap : wrap;
}

.notesListDisplayDiv {
  display : flex;
  flex-direction : column;
  flex-wrap : nowrap;
}

div .notesGridDisplayCard {
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap : wrap;
  min-width : 300px;
  min-height : 120px;
  margin : 10px;
  border-radius: 9px;
}

.notesGridDisplayCard .noteAddFeatureImages {
  visibility: hidden;
}

.notesGridDisplayCard:hover .noteAddFeatureImages {
  visibility: visible;
}

.notesGridDisplayCard:hover {
  box-shadow: 1px 1px 10px ;
}

div .notesListDisplayCard {
  display: flex;
  flex-wrap : nowrap;
  min-width : 500px;
  min-height : 100px;
  margin: 10px;
  border-radius: 9px;
}

.notesListDisplayCard .noteAddFeatureImages {
  visibility: hidden;
}

.notesListDisplayCard:hover .noteAddFeatureImages {
  visibility: visible;
}

.notesListDisplayCard:hover {
  box-shadow: 1px 1px 10px;
}

.datePickerDiv {
  width : 170px;
  margin-top : 40px;
  margin-left : 85px;
}

.dateTimePicker {
  font-size : 18px;
  height : 40px;
  width : 200px;
}

.noteCardDisplayTitleDiv {
  display: flex;
  font-size: 21px;
  margin-left: 5px;
  padding: 3px;
}

.noteCardDisplayTitle {
  width: 100%;
}

.noteCardDisplayDescription {
  font-size: 21px;
  padding: 7px;
  min-width: 200px;
  /* overflow-x:  */
}

.reminderShowOnCardText {
  font-size: 10px;
  padding: 0px;
}

div .chipOnCardReminder {
  margin-left: 5px;
  margin-top: 15px;
  height: 25px;
}

.pinnedNoteDiv {
  max-width: 680px;
  margin-bottom: 2px solid black;
}

.pinnedNoteTitle {
  margin: 15px;
}

.OtherNoteShowDiv {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#dialogNoteEdit {
  /* display: flex;
  flex-wrap: wrap; */
  /* margin: 5px;
  padding: 0px;
  height: 150px; */
}

.inputNoteEditDialog {
  margin: 5px;
  padding: 5px;
  /* margin-top: 10px;
  margin-left : 10px; */
  width : 470px;
  /* margin-bottom: 5px; */
}

.pinNoteImage {
  vertical-align: middle;
  line-height : 10px;
  margin-top : 10px;
}

.reminderPopper{
  position: fixed;
  z-index: 1;
}

#dialogNote {
  border-radius: 5px;
}

#dialogBox div {
  border-radius: 30px;
}

.dialogCloseButton {
  /* height: 20px; */
}